.weathering-container,
.video-call,
.mood-map {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--separator);
  background-color: var(--header-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: var(--header-shadow);
}